    upstream webservers {
        server 192.168.56.202:8000;
        server 192.168.56.203:8000;
    }

    server {
        listen 80;

        location / {   
                proxy_pass http://webservers;
        }
    }